
/**<==== Fonts variables ====>**/
$helve: 'Helvetica Neue', sans-serif;
$adobe: 'Adobe Arabic', sans-serif;

/**<==== Colors  ====>**/
$primary: #009edb;
$secondary: #3a3330;
$base: #ec302e;

// Custom fonts
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Light.eot');
    src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Light.woff') format('woff'),
        url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Arabic';
    src: url('../fonts/AdobeArabic-Regular.eot');
    src: url('../fonts/AdobeArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeArabic-Regular.woff2') format('woff2'),
        url('../fonts/AdobeArabic-Regular.woff') format('woff'),
        url('../fonts/AdobeArabic-Regular.ttf') format('truetype'),
        url('../fonts/AdobeArabic-Regular.svg#AdobeArabic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.woff2') format('woff2'),
        url('../fonts/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue.ttf') format('truetype'),
        url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/* =========== Import Mixin =============*/
@import "mixin";
@import "basic";

/* General Style =================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body,div,span,img,ol,ul,li,a,p,h1,h2,h3,h4,h5,h6,option,legend,label,table,th,td,tr,article,aside,caption,figure,footer,header,hgroup,mark,nav,section,time,audio,video 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    color: #909090;
    font-weight: 400;
    font-family: $helve;
    scroll-behavior: smooth;
    @include em(24px, 0, 30px);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: #3a3330;
    font-family: $helve;
}

h1 {
    @include em(50px, 50, 56px);
    font-weight: 400;
}

h2 {
    @include em(36px, 0, 42px);
}

h3 {
    @include em(36px, 0, 36px);
}

h4 {
    @include em(24px, 0, 36px);
}

h5 {
  @include em(20px, 50, 26px);
}

h6 { 
    @include em(16px, 0, 22px); 
}

p {
    margin: 0 0 20px;
}

a {
    text-decoration: none; 
    font-size: 14px;
    font-family: $helve;

    &:hover, &:focus {
        text-decoration: none;
        outline: 0;
        outline-offset: 0; 
    }
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;

    &.list-unstyle {
        padding-left: 0;
        list-style: none;
    }
}

input[type="number"], input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea {
    width: 100%;
    padding: 14px 15px !important;
    color: black;
    font-size: 12px;
    box-shadow: none;
    font-family: $helve;
    font-weight: 400px;
    border: 1px solid #686461;
    background-color: transparent;

    &:focus {
        box-shadow: none;
    }

    &::-webkit-input-placeholder { 
        color: black;
    }
    &::-moz-placeholder { 
        color: black;
    }
    &:-ms-input-placeholder { 
        color: black;
    }
    &:-moz-placeholder { 
        color: black;
    }

    &:hover, &:focus {
        outline: 0;
    }
}
input[type="number"] {
    padding: 5px 10px!important;

}

.default-editor {

    a, strong {
        color: $primary;
    }
}

.container {
    max-width: 1650px;
    margin: 0 auto;
    width: 100%;
}

.justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.embed-responsive {
    overflow: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

select {
    padding: 10px;
    font-size: .85rem !important;

    option {
        font-size: .85rem !important;
    }

    &:focus {
        outline: none;
        outline-offset: 0;
    }
} 

.nav>li>a:focus, .nav>li>a:hover {
    background: transparent;
}
.media {
    margin-top: 0;

  img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

.dropdown-menu>.menu-active>a, .dropdown-menu>.menu-active>a:focus, 
.dropdown-menu>.menu-active>a:hover{
    background-color: transparent !important;
}

.btn, .button {
    color: #fff;
    font-family: $helve;
    @include em(18px, 25, 22px);
    font-weight: 700;
    transition: all 0.3s ease;
    border: 0;
    text-transform: uppercase;
    background-color: $primary;
    position: relative;
    max-width: 100%;
    padding: 15px;
    width: 100%;
    
    &:hover, &:focus, &:active:focus {
        outline: 0;
        box-shadow: none;
        outline-offset: 0;
        border-color: $primary;
        color: white;
        background-color: $primary;

        span {
            background-color: #6f5344;
        }
    }

    span {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        width: 90px;
        background: #6f5344;
        display: flex;
        transition: all .3s ease;
        align-items: center;
        justify-content: center;
    }
}

button {

    &:hover, &:focus, &:active:focus {
        outline: 0;
        outline-offset: 0;
    }
}

.align-center {
    @include align-center;

    &.reverse {
        flex-direction: row-reverse;
    }

    &:before, &:after {
        content: none;
    }
}

.eq-height {
    display: -webkit-box;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    &:before, &:after {
        content: none;
    }
}

.align-center-h {
    @include align-center('horizontal');

    &:before, &:after {
        content: none;
    }
}

.align-center-v {
    height: 100%;
    @include align-center('vertical');

    &:before, &:after {
        content: none;
    }
}

/* Section title */



/******************************
            Header
*********************************/

.sidr {
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999999;
  position: fixed;
  max-width: 100%;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0,0,0,.9);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

    &.right {
        left: auto;
        right: -100%;
    }

    &.left {
        left: -100%;
        right: auto;
    }
}

.topbar {
    padding: 12px 0;
    transition: all .3s ease;
    background: #f2f2f2;
    border-bottom: 7px solid $primary;

    p {
        margin: 0;
        font-weight: 300;
        color: #414141;
        @include em(14px, 50, 20px);

        a {
            color: #414141;
            margin-right: 8px;
        }
    }

    .language-menu {
        font-size: 0;
        text-align: right;

        a {
            color: #818181;
            padding: 0 14px;
            @include em(14px, 10, 18px);

            &:last-child {
                padding-right: 0;
            }

            &.active {
                font-weight: 700;
                color: #393939;
            }
        }
    }
}

.header {
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1024;
    padding: 50px 0;
    position: fixed;
    background-color: #000000;
    transition: all .3s ease;
    border-bottom: 7px solid #4d4d4d;

    .navbar {
        margin: 0;
    }

    .navbar-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .navbar-header {
            display: flex;
            align-items: center;

            .navbar-brand {
                padding: 0;
                margin: 0;
                height: inherit;

                img {
                    transition: all .3s ease;
                }
            }
        }

        .navbar-nav {

            li {
                float: none;

                a {
                   display: block; 
                   color: #fff;
                   font-weight: 400;
                   transition: all .3s ease;
                   @include em(16px, 0, 22px);
                   padding: 14px 48px;

                    &:hover, &:focus {
                        color: $primary;
                    }
                }

                &+li {

                    a {
                        border-top: 1px solid #212121;
                    }
                }

                &.dropdown {

                    &.open {
                        background: transparent;

                        a {
                            background: transparent;
                        }
                    }

                    > a {

                        &:after {
                            font-weight: 900;
                            position: absolute;
                            right: 50px;
                            transition: all .3s ease;
                            content: "\f101";
                            font-family: "Font Awesome 5 Free";
                        }
                    }

                    .dropdown-menu {
                        left: 100%;
                        top: 0;
                        padding: 0;
                        border: 0;
                        display: inherit;
                        opacity: 0;
                        visibility: hidden;
                        background: #000;
                        overflow-y: overlay;
                        transition: all .3s ease;

                        li {

                            a {
                                color: #fff;
                                @include em(16px, 0, 20px);
                            }

                            &:hover, &:focus {

                                a {
                                    background: $primary;
                                }
                            }
                        }
                    }

                    &:hover, &:focus {

                        a {

                            &:after {
                                right: 20px;
                            }
                        }

                        .dropdown-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .navbar-collapse {
            position: absolute;
            top: 200px;
            left: 0;
            opacity: 0;
            padding: 0 3px;
            visibility: hidden;
            background: #000;
            display: inherit;

            &.in {
                top: 149px;
                opacity: 1;
                visibility: visible;
            }
        }

        .search-container {

            form {
                background: #fff;
                width: 410px;
                border-radius: 4px;
                position: relative;
                overflow: hidden;

                input {
                    border: 0;
                    color: #666666;
                    font-weight: 300;
                    @include em(18px, 25, 24px);
                    @include placeholder(#666666, 18px, 300);
                }

                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $primary;
                    height: 100%;
                    width: 70px;
                    border: 0;

                    i {
                        color: #fff;
                    }
                }
            }

            a {
                display: block;
                text-align: right;
                color: #a4b2b7;
                margin-top: 6px;
                @include em(14px, 0, 24px);
            }
        }
    }

    &.sticky {
        top: 0;
        padding: 10px 0;
        background: #000000;
        -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.16);
        -ms-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.16);
        -o-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.16);
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.20);

        .navbar {

            .navbar-header {

                .navbar-brand {

                    img {
                        max-width: 80%;
                    }
                }
            }
        }

        .navbar-wrapper{

             .navbar-collapse {

                &.in {
                    top: 92px;
                }
            }
        }
    }
}

.navbar-toggle {
    display: block !important;
    border: 4px solid #595959;
    border-radius: 0;
    padding: 15px 10px;
    margin: 0;
    margin-right: 50px;

    .line {
        height: 4px;
        width: 32px;
        display: block;
        background: #fff;
        transition: all .3s ease;
        
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &.in {
        
        .line {

            &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }

            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }
}

/************************************************************************************
*                       Banner Style
*************************************************************************************/ 
.banner {
    position: relative;
    @include coverbg();

    .banner-content {
        width: 100%;
        padding: 44px 0;
        background: rgba(14,14,14, .94);

        h4 {
            color: $primary;
            font-weight: 700;
            @include em(30px, 25, 36px);
        }

        p {
            color: #fff;
            font-weight: 300;
            @include em(24px, 0, 32px);
            margin-bottom: 0;
        }
    }
}

/***
    Slider 
**/ 
.slick-dotted.slick-slider {
    margin: 0;
}
.slick-dots {
    bottom: 25px;

    li {
        width: 13px;
        z-index: 1024;

        button {

            &:before {
                height: 17px;
                width: 17px;
                // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                transition: all .3s ease;
                opacity: 1;
                background: #000;
                border-radius: 0;
                content: "";
                border-radius: 500px;
            }
        }

        &.slick-active {

            button {

                &:before {
                    opacity: 1;
                    background-color: #fff;
                }
            }
        }
    }
}

// Slider arrow

.slick-prev, .slick-next {
    height: auto;
    width: auto;

    &:before {
        opacity: 1;
        z-index: 2;
        color: $primary;
        font-weight: 900;
        font-size: 3.5rem;
        content: "\f104";
        font-family: "Font Awesome 5 Free";
    }
}

.slick-prev {
    left: -30px;
    z-index: 1024;
}

.slick-next {
    right: -30px;

    &:before {
        content: "\f105";
    }
}

.slick-list {
    overflow: inherit;

    .slick-slider {
        opacity: .3;
        overflow: hidden;

        &.slick-active {
            opacity: 1;
        }
    }
}


/***********************************************************************
*                           live Now
************************************************************************/ 
.section-title {

    p {
        color: #fff;
        @include em(36px, 25, 42px);

        span {
            color: #f40004;
        }
    }
}

.border {
    height: 4px;
    width: 85px;
    display: block;
    background: $primary;
    margin-top: 20px;
}

.live-area {
    background: #000;
    padding: 50px 0;
    overflow: hidden;

    .section-title {
        padding: 40px 0 10px;

        p {
            font-weight: 700;
        }
    }

    .slick-slider {
        margin: 0 15px;

        a {

            img {
                transform: scale(1);
                transition: all .3s ease;
            }

            &:hover, &:focus {
                
                img {
                    transform: scale(1.2);
                }
            }
        }
    }

    .live-slider-wrapper {

        .slick-slider {
            position: relative;

            img {
                width: 100%;
                transform: scale(1);
                transition: all .3s ease;
            }

            .hover-content {
                position: absolute;
                opacity: 0;
                top: 100%;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                transition: all .3s ease;

                &:before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: all .3s ease;
                    background: rgba(0,0,0,.7);
                }

                img {
                    position: absolute;
                    bottom: 50%;
                    left: 0;
                    right: 0;
                    margin: 0 auto 10px;
                    transform: scale(1);
                    width: auto;
                }

                p {
                    color: #fff;
                    font-weight: 700;
                    padding: 40px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    @include em(20px, 25, 26px);
                }
            }

            &:hover, &:focus {

                img {
                    transform: scale(1.2);
                }

                .hover-content {
                    opacity: 1;
                    top: 0;

                    img {
                        transform: scale(1);
                    }
                }
            }

            &:last-child {

                .hover-content {
                    background: #333333;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 0;
                    width: 100%;
                    opacity: 0;
                    right: 0;
                    margin: 0 auto;
                    visibility: hidden;
                    transition: all .3s ease;
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;

                    p {
                        color: #fff;
                        font-weight: 700;
                        padding: 0;
                        position: relative;
                        left: inherit;
                        bottom: inherit;
                        @include em(24px, 25, 30px);

                        .border {
                            margin: 20px auto 0;
                        }
                    }
                }

                &:hover, &:focus {

                    .hover-content {
                        top: 0;
                        visibility: visible;
                        opacity: 1;
                        height: 100%;
                    }
                }
            }
        }
    }

    .slider-wrapper {

        .slick-slider {
            position: relative;

            img {
                width: 100%;
                transform: scale(1);
                transition: all .3s ease;
            }

            .hover-content {
                position: absolute;
                opacity: 0;
                top: 100%;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                transition: all .3s ease;

                &:before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: all .3s ease;
                    background: rgba(0,0,0,.7);
                }

                img {
                    position: absolute;
                    bottom: 50%;
                    left: 0;
                    right: 0;
                    margin: 0 auto 5px;
                    transform: scale(1);
                    width: auto;
                }

                p {
                    color: #fff;
                    font-weight: 700;
                    padding: 25px;
                    position: absolute;
                    left: 0;
                    margin-bottom: 0;
                    bottom: 0;
                    @include em(14px, 25, 20px);
                }
            }

            &:hover, &:focus {

                img {
                    transform: scale(1.2);
                }

                .hover-content {
                    opacity: 1;
                    top: 0;

                    img {
                        transform: scale(.4);
                    }
                }
            }

            &:last-child {

                .hover-content {
                    background: #333333;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 0;
                    width: 100%;
                    opacity: 0;
                    right: 0;
                    margin: 0 auto;
                    visibility: hidden;
                    transition: all .3s ease;
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;

                    p {
                        color: #fff;
                        font-weight: 700;
                        padding: 0;
                        position: relative;
                        left: inherit;
                        bottom: inherit;
                        @include em(24px, 25, 30px);

                        .border {
                            margin: 20px auto 0;
                        }
                    }
                }

                &:hover, &:focus {

                    .hover-content {
                        top: 0;
                        visibility: visible;
                        opacity: 1;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/***********************************************************
*                       Sub Category Page
************************************************************/ 
.category-page {

    .section-title {
        display: flex;
        position: relative;

        &:before, &:after {
            content: none;
        }

        .hidden-cat-item {
            opacity: 0;
            cursor: pointer;
            margin-left: 20px;
            margin-top: 10px;
            visibility: hidden;
            color: #009edb;
            @include em(24px, 25, 30px);

            a {
                transition: all .3s ease;
            }
        }

        &:hover, &:focus {

            .hidden-cat-item {
                opacity: 1;
                visibility: visible;
            }
        }

        .sub-category {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100px;
            left: 0;
            z-index: 1024;
            width: 100%;
            max-width: 260px;
            padding: 20px 0;
            background: #000;

            a {
                padding: 7px 30px;
                display: block;
                color: #fff;
                @include em(16px, 0, 20px);

                &:hover, &:focus {
                    color: $primary;
                }
            }
        }

        &.ShowSubCate {

            .sub-category {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.video-metadata {
    background: #000;

    .panel-group {
        background: transparent;
        border-radius: 10px;
        overflow: hidden;

        .panel {
            background: #333333;
            border: 0;
            padding: 0;
            margin-bottom: 25px;

            .panel-heading {
                background: transparent;
                border: 0;
                padding: 25px 45px;
                padding-bottom: 15px;

                .panel-title {

                    a {
                        color: #fff;
                        font-weight: 700;
                        text-transform: uppercase;
                        @include em(20px, 0, 28px);

                        &:before, .collapsed:before {
                            content: "\f068";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            position: relative;
                            left: -20px;
                            color: $primary;
                        } 

                        &.collapsed:before {
                            content: "\f067";
                        }
                    }
                }
            }

            .panel-body {
                border: 0;
                padding: 0 70px 20px;

                .margin-20 {
                    margin-bottom: 20px;
                }

                p {
                    color: #fff;
                    margin-bottom: 0;
                }

                .table {

                    tr {

                        th {
                            color: $primary;
                        }

                        td, th {
                            vertical-align: middle;
                            border: 0;
                            color: #fff;
                            font-weight: 700;
                            @include em(18px, 0, 24px);
                            text-align: center;

                            span {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
/***********************************************************
*                       Single Video
************************************************************/ 
.banner {

    &.single-video-banner {

        .banner-content {
            background: #000;
        }
    }
}

.single-video-banner {

    .banner-content {

        h4 {
            margin-bottom: 35px;
        }

        p {
            margin-bottom: 35px;
        }

        a {
            color: #009edb;
            @include em(24px, 0, 30px);
            margin-bottom: 35px;
        }
    }
}

.related-video {

    .section-title {
        padding-top: 0;
    }
}

/***********************************************************
*                       Schedule Page
************************************************************/ 
.date-area {
    background: $primary;

    .data-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:before {
            content: none;
        }

        p {
            color: #fff;
            @include em(18px, 0, 24px);
            margin-bottom: 0;
            font-weight: 300;
            text-align: center;
            padding: 19px;
            text-transform: uppercase;

            b {
                @include em(20px, 0, 24px);
                font-weight: 700;
                display: block;
            }

            &.active {
                color: #000;
                background: #fff;
            }
        }
    }
}

.calender-filter-area {
    padding: 26px 0;

    .calender {

        a {
            color: #000;
            border: 3px solid $primary;
            border-radius: 5px;
            font-weight: 700;
            transition: all .3s ease;
            padding: 6px 17px;
            text-transform: uppercase;
            @include em(18px, 25, 24px);

            &:hover, &:focus {
                background: $primary;
                color: #fff;
            }
        }

        img {
            margin-left: 15px;
        }
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            font-weight: 700;
            color: #000;
            margin-bottom: 0;
            margin-right: 20px;
            text-transform: uppercase;
        }

        .select-wrapper {
            position: relative;
            max-width: 150px;
            width: 100%;

            &:after {
                position: absolute;
                content: "";
                right: 15px;
                top: calc(50% - 6px);
                transform: rotate(45deg);
                color: $primary;
                border: solid $primary;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
            }
            
            select {
                width: 100%;
                padding: 10px 15px;
                height: inherit;
                color: #323232;
                appearance: none;
                @include em(18px, 25, 24px);
                font-size: 1.125rem !important;

                option {
                    color: #323232;
                    @include em(18px, 25, 24px);
                    font-size: 1.125rem !important;
                }
            }
        }
    }
}

.schedule-wrapper {
    background: #000;
    padding: 60px 0;

    .schedule-item-wrapper {
        
        .schedule-item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &:before, &:after {
                content: none;
            }

            .image {
                width: 35%;

                img {
                    width: 100%;
                }
            }

            .content {
                margin-left: 3%;
                width: 62%;

                h4 {
                    color: #fff;
                    font-weight: 700;
                    @include em(30px, 25, 36px);
                }

                p {
                    font-weight: 300;
                    color: #fff;
                    @include em(18px, 0, 24px);
                }
            }

            &:not(:last-child) {
                padding-bottom: 75px;
                margin-bottom: 75px;
                border-bottom: 1px solid $primary;
            }
        }
    }
}
// Footer
.footer {
    padding: 53px 0;
    border-top: 5px solid $primary;
    background-color: #333333;

    .footer-menu {

        .navbar-nav {

            li {

                a {
                    color: #fff;
                    transition: all .3s ease;
                    text-transform: uppercase;
                    font-weight: 700;
                    @include em(14px, 0, 14px);
                    position: relative;

                    &:after {
                        position: absolute;
                        right: 0;
                        top: calc(50% - 7px);
                        content: "|";
                        color: #808080;
                    }

                    &:hover, &:focus {
                        color: $primary;
                    }
                }

                &:last-child {

                    a {

                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}

/*****************************************************************
                Contact Form
******************************************************************/
.contact-form {

    .form-group {
        margin-bottom: 30px;

        label {
            color: #fff;
            font-weight: 300;
            @include em(20px, 25, 26px);

            span {
                color: red;
            }
        }

        .form-control {
            @include em(16px, 0, 20px);
            height: inherit;
            background: #fff;
        }

        select {
            appearance: none;
            padding: 14px 20px;
            font-size: 1rem !important;
        }

        .btn {
            padding: 15px 20px;
        }
    }
}


/*****************************************************************
                Terns Page
******************************************************************/

.space20 {
    height: 45px;
}

.space20px {
    height: 15px;
}

.page-area {
    padding: 40px 0;

    .section-title {
        margin-bottom: 35px;

        h3 {
            font-weight: 700;
        }

        .border {
            margin-top: 13px;
        }
    }

    .content-area {

        .menu-list {
            margin: 0 0 25px;

            a {
                display: inline-block;
                color: #009edb;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: underline;
                @include em(14px, 25, 18px);
                margin-right: 30px;
            }
        }
        
        .content {
            color: #333333;
            @include em(14px, 25, 18px);

            img {
                margin-bottom: 15px;
            }

            h2 {
                color: #009edb;
                font-weight: 700;
                margin-bottom: 20px;
                @include em(24px, 25, 28px);
            }

            p {
                margin-bottom: 18px;
                color: #333333;
                @include em(14px, 25, 18px);
            }
        }
    }

    &.subcribe-page {
        background: #000;

        .section-title {

            h3 {
                color: #fff;
            }
        }
    }

    &.social-media {
        background: #000;

        .section-title {

            h3 {
                color: #fff;
            }
        }

        .social-media-wrapper {

            ul {
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    flex-wrap: wrap;


                    &:before, &:after {
                        content: none;
                    }

                    img {
                        float: left;
                        margin-bottom: 0;
                        margin-right: 20px;
                    }

                    a {
                        display: block;
                        color: #fff;
                        overflow: hidden;
                        @include em(20px, 25, 30px);
                    }

                    &:not(:last-child) {
                        margin-bottom: 70px;
                    }
                }
            }
        }
    }
}




/**---- Responsive CSS ----**/
@import "responsive";
